.MyList {
    padding: 90px 0 0 20px;
    color: rgba(212, 29, 29, 0.865);
}

.favorites {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container_favorite {
    display: flex;
    gap: 1em;
    margin-bottom: 20px;
    width: calc(15% + 5px);
}

.container_favorite img {
    width: 90%;
    margin-right: 10px;
    border-radius: 5px
}

@media (max-width: 668px) {
    .container_favorite {
        display: flex;
        gap: 1em;
        width: calc(30% + 10px);
    }

}